@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@font-face {
  font-family: "Circe Bold";
  src: url("/fonts/CRC55.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body,
.ant-typography {
  font-family: "Circe Bold", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-dropdown-menu-item:hover {
  color: #0556ff !important;
}

.ant-dropdown-menu {
  font-family: "Circe Bold", serif !important;
}
